* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: auto;
    max-width: unset;
}

td {
    word-break: break-all;
}

li>label {
    display: inline;
}

h4 {
    margin-top: 1.2rem;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2px;
    margin-bottom: 2px;
}

.tabs.vertical {
    grid-auto-flow: row;
}

.tab {
    text-align: center;
}

.tab.active {
    border-bottom: 2px solid #eb99a1;
}

#save-load-bar {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 2px;
    margin-bottom:  2px;
}

#save-load-bar>input {
    margin-bottom: 0;
}

#char-editor {
    grid-template-rows: auto auto 1fr;
}

.category {
    padding-bottom: .5rem;
    margin: .5rem;
}

.content {
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}

.content.wrap {
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.boxed {
    border: 2px solid #222;
}

.filter-div, .filter-bar {
    width: 100%;
    box-sizing: border-box;
}

.multioption-list {
    height: 10em;
    overflow-y: auto;
    border: 2px solid #222;
    list-style: none;
}

.array-list {
    height: 10em;
    overflow-y: auto;
    border: 2px solid #222;
    list-style: none;
    padding-left: 0.4em;
}

#inv {
    grid-template-columns: 2fr 3fr;
}

.inv-list {
    margin-right: 1em;
    overflow-y: auto;
    margin-bottom: 0;
    padding-left: 1.8em;
    list-style: decimal;
}

.items {
    display: grid;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    gap: .5rem;
}

.item-list {
    overflow-y: auto;
    border: 2px solid #222;
    margin: 0;
    list-style: none;
}

.item-attr {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.field {
    display: grid;
}

.disabled, input:disabled, select:disabled, input:disabled+label {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Important */

.collapsed {
    display: none;
}

/* Important End */
